#input {
  background-color: #ffffff55;
  border: 1px solid #ffffff55;
  border-radius: .5rem;
  color: #00000099;
  font-size: medium;
  margin: .5rem;
  padding: .5rem;
  width: fit-content;
  transition: .5s ease;
}

#input::placeholder {
  color: #00000044;
}

#input:hover {
  background-color: #00000006;
  border: 1px solid #00000055;
  color: #00000099;
}

#input:focus {
  background-color: #00000006;
  border: 1px solid #00000055;
  color: #00000099;
}

#submit {
  background-color: transparent;
  border: 1px solid #096602;
  border-radius: .5rem;
  box-shadow: 0 0 2px 0 #096602;
  color: #096602;
  font-size: medium;
  padding: .5rem;
  transition: .2s ease;
}

#submit:hover {
  background-color: #096602;
  color: #ffffff;
  cursor: pointer;
}